.ctdb-outer-wrap {
	margin-right: 300px;
	padding: 0;
}
.ctdb-inner-wrap {
	position: relative;
	width: 100%;
	min-width: 463px;
	float: left;
}
.ctdb-banners {
	float: right;
	margin-right: -300px;
	width: 280px;
}
.ctdb-banners img {
	max-width: 100%;
}
.ctdb-banner {
	margin-bottom: 1.5em;
}
@media only screen and (max-width: 850px) {
	.ctdb-outer-wrap {
		margin-right: 0;
	}
	.ctdb-inner-wrap {
		position: relative;
		width: 100%;
		min-width: 0;
		float: none;
	}
	.ctdb-banners {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.ctdb-banner {
		float: left;
		margin-right: 20px;
	}
}



#uk-cookie-consent-update .updating-message .wc_plugin_upgrade_notice {
	display: none;
}

#uk-cookie-consent-update .dummy {
	display: none;
}

#uk-cookie-consent-update .ctcc_plugin_upgrade_notice {
	font-weight: normal;
	background: #fff8e5 !important;
	border-left: 4px solid #ffb900;
	border-top: 1px solid #ffb900;
	padding: 9px 0 9px 12px !important;
	margin: 0 -12px 0 -16px !important;
}

#uk-cookie-consent-update .ctcc_plugin_upgrade_notice::before {
	content: "\f348";
	display: inline-block;
	font: 400 18px/1 dashicons;
	speak: never;
	margin: 0 8px 0 -2px;
	vertical-align: top;
}

#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.minor,
#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.major {
	padding: 20px 0 !important;
}

#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.minor::before,
#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.major::before {
	display: none;
}

#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.minor p,
#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.major p {
	padding: 0 20px;
	margin: 0;
	max-width: 700px;
	line-height: 1.5em;
}

#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.minor p::before,
#uk-cookie-consent-update .ctcc_plugin_upgrade_notice.major p::before {
	content: "";
	display: none;
}
